@model SecretaryViewModel
@{
    ViewData["Title"] = "Secretary";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/fullcalendar/core/main.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/daygrid/main.css" />
    <link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/bootstrap/main.css" />
    <link href="~/lib/fullcalendar/list/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
}



<h3>Secretary</h3>
<div class="row">
    <!-- Modal -->
    <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Randevu Formu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Kapatt">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Başlangıç Tarihi</label>
                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="inputStarDate" data-target="#datetimepicker1" />
                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Bitiş Tarihi</label>
                                <div class="input-group date" data-target-input="nearest" id="datetimepicker2">
                                    <input type="text" class="form-control datetimepicker-input" id="inputEndDate" data-target="#datetimepicker2" />
                                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Hasta Adı</label>
                                <input id="inputPatientName" class="form-control" type="text" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Hasta Soyadı</label>
                                <input id="inputPatientSurname" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Açıklama</label>
                                <input id="inputDescription" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Doktor Adı</label>
                                <select id="inputDentistId" class="form-control" asp-items="@Model.SelectListItems"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="closeModal" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button id="btnSave" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveModalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Randevu Formu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Kapatt">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="appointmentId" />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Başlangıç Tarihi</label>
                                <div class="input-group date" id="datetimepickerDetail1" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="inputStarDateDetail" disabled data-target="#datetimepickerDetail1"/>
                                    <div class="input-group-append" data-target="#datetimepickerDetail1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Bitiş Tarihi</label>
                                <div class="input-group date" data-target-input="nearest" id="datetimepickerDetail2">
                                    <input type="text" class="form-control datetimepicker-input" id="inputEndDateDetail" disabled data-target="#datetimepickerDetail2"/>
                                    <div class="input-group-append" data-target="#datetimepickerDetail2" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Hasta Adı</label>
                                <input id="inputPatientNameDetail" class="form-control" type="text"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Hasta Soyadı</label>
                                <input id="inputPatientSurnameDetail" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Açıklama</label>
                                <input id="inputDescriptionDetail" type="text" class="form-control"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Doktor Adı</label>
                                <select id="inputDentistIdDetail" class="form-control" asp-items="@Model.SelectListItems"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="closeModalDetail" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button id="btnDeleteDetail" class="btn btn-danger">Sil</button>
                    <button id="btnSaveDetail" class="btn btn-primary">Güncelle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Randevu Sistemi</h5>
                <h6 class="card-title mb-2 text-muted">@Model.User.Name @Model.User.Surname</h6>
                <p class="card-text">Hoşgeldiniz</p>
                <a asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
            </div>
        </div>
        <ul class="list-group mt-2">
            @foreach (var item in Model.Dentists)
            {
                <li class="list-group-item"  >@item.Name @item.Surname  <button data-value="@item.Id"  class="btn btn-sm mt-2 filterButton" style="background-color: @item.Color"></button></li>

            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div id="calendar"></div>
            </div>
        </div>

    </div>
</div>



@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-with-data-10-year-range.js"></script>
    <script src="~/lib/fullcalendar/core/main.js"></script>
    <script src="~/lib/fullcalendar/daygrid/main.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>
    <script src="~/lib/fullcalendar/core/locales/tr.js"></script>
    <script src="~/lib/fullcalendar/bootstrap/main.js"></script>
    <script src="~/lib/fullcalendar/list/main.js"></script>
    <script src="~/lib/fullcalendar/interaction/main.js"></script>
    <script src="~/lib/fullcalendar/moment/main.js"></script>
    <script src="~/lib/fullcalendar/moment-timezone/main.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded',
            function() {
                var calendarEl = document.getElementById('calendar');
                var events = [];
                var calendar = new FullCalendar.Calendar(calendarEl,
                    {
                        plugins: ["interaction", "dayGrid", "timeGrid", 'list', "bootstrap", "momentTimezone"],
                        themeSystem: "bootstrap",
                        bootstrapFontAwesome: {
                            dayGridMonth: 'calendar',
                            prev: "fa-chevron-circle-left",
                            next: "fa-chevron-circle-right",
                            listWeek: "fa-list"
                        },
                        locale: "tr",
                        header: {
                            left: 'prev, next, today',
                            center: 'title',
                            right: 'dayGridMonth, timeGridWeek, timeGridForFourDay, listWeek'
                        },
                        footer: {
                            left: 'prevYear',
                            right: 'nextYear'
                        },
                        minTime: "08:00:00",
                        maxTime: "21:00:00",

                        slotLabelFormat: {
                            hour: "2-digit",
                            minute: "2-digit"
                        },
                        fixedWeekCount: true,
                        showNonCurrentDates: false,
                        hiddenDays: [0],
                        contentHeight: 650,
                        allDaySlot: false,
                        defaultView: 'dayGridMonth',
                        weekends: true,
                        titleFormat: {
                            year: "numeric",
                            month: "long",
                            day: "numeric"
                        },
                        titleRangeSeparator: " / ",
                        columnHeaderFormat: {
                            weekday: "long"
                        },
                        views: {
                            timeGridForFourDay: {
                                type: "timeGrid",
                                duration: { days: 4 },
                                buttonText: "4 Gün"
                            }
                        },
                        eventTimeFormat: {
                            hour: "2-digit",
                            minute: "2-digit",
                        },
                        timeZone: "Europe/Istanbul",
                        events: [],
                        eventRender: function(info) {

                        },
                        snapDuration: "00:15:00",
                        selectable: true,
                        select: function(selectedInfo) {
                            selectedEvent = {
                                id: 0,
                                start: selectedInfo.start,
                                end: selectedInfo.end,
                                patientName: "",
                                patientSurname: "",
                                description: "",
                                dentistId: 0
                            }
                            openAddOrUpdateModal();
                        },
                        eventClick: function(info) {
                            selectedEvent = {
                                id: info.event.id,
                                start: moment(info.event.start).format("MM/DD/YYYY HH:mm"),
                                end: moment(info.event.end).format("MM/DD/YYYY HH:mm"),
                                patientName: info.event.extendedProps.patientName,
                                patientSurname: info.event.extendedProps.patientSurname,
                                description: info.event.extendedProps.description,
                                dentistId: info.event.extendedProps.userId
                            }
                            $("#appointmentId").val(info.event.id);
                            $("#inputStarDateDetail").val(moment(info.event.start).format("MM/DD/YYYY HH:mm"));
                            $("#inputEndDateDetail").val(moment(info.event.end).format("MM/DD/YYYY HH:mm"));
                            $("#inputPatientNameDetail").val(info.event.extendedProps.patientName);
                            $("#inputPatientSurnameDetail").val(info.event.extendedProps.patientSurname);
                            $("#inputDescriptionDetail").val(info.event.extendedProps.description);
                            $("#inputDentistIdDetail").val(info.event.extendedProps.userId);
                            $("#saveModalDetail").modal();

                        },
                        editable: true,
                        eventDrop: function(dropEventInfo) {
                            var appointment = {
                                Id: dropEventInfo.event.id,
                                UserId: dropEventInfo.event.extendedProps.userId,
                                StartDate: moment(dropEventInfo.event.start).format("MM/DD/YYYY HH:mm"),
                                EndDate: moment(dropEventInfo.event.end).format("MM/DD/YYYY HH:mm"),
                                PatientName: dropEventInfo.event.extendedProps.patientName,
                                PatientSurname: dropEventInfo.event.extendedProps.patientSurname,
                                Description: dropEventInfo.event.extendedProps.description
                            }
                            saveAppointment(appointment);
                        },
                        eventResize: function(dropEventInfo) {
                            var appointment = {
                                Id: dropEventInfo.event.id,
                                UserId: dropEventInfo.event.extendedProps.userId,
                                StartDate: moment(dropEventInfo.event.start).format("MM/DD/YYYY HH:mm"),
                                EndDate: moment(dropEventInfo.event.end).format("MM/DD/YYYY HH:mm"),
                                PatientName: dropEventInfo.event.extendedProps.patientName,
                                PatientSurname: dropEventInfo.event.extendedProps.patientSurname,
                                Description: dropEventInfo.event.extendedProps.description
                            }
                            saveAppointment(appointment);
                        },

                    });

                function openAddOrUpdateModal() {
                    if (selectedEvent != null) {
                        $("#inputStarDate").val(moment(selectedEvent.start).format("MM/DD/YYYY HH:mm"));
                        $("#inputEndDate").val(moment(selectedEvent.end).format("MM/DD/YYYY HH:mm"));
                        $("#inputPatientName").val(selectedEvent.patientName);
                        $("#inputPatientSurname").val(selectedEvent.patientSurname);
                        $("#inputDescription").val(selectedEvent.description);
                        $("#inputDentistId").val(selectedEvent.dentistId);
                    }
                    $("#saveModal").modal();

                }

                function saveAppointment(data) {
                    $.ajax({
                        type: "POST",
                        url: "/Appointment/AddOrUpdateAppointment",
                        data: data,
                        success: function(res) {
                            if (res === "200") {
                                getAppointments();
                                data.Id === "0" ? alertify.success("Ekeleme Yapıldı") : alertify.success("Randevu Güncellendi");
                            } else {
                                alertify.error("Ekleme Başarısız");
                            }
                            var button = document.getElementById("closeModal");
                            var button2 = document.getElementById("closeModalDetail");
                            button.click();
                            button2.click();

                        },
                        error: function() {
                            alertify.error("Ekleme Başarısız");
                            var button = document.getElementById("closeModal");
                            var button2 = document.getElementById("closeModalDetail");
                            button.click();
                            button2.click();
                        }

                    });
                }

                function getAppointments(userId) {
                    $.ajax({
                        type: "GET",
                        url: userId ? `/Appointment/GetAppointments?userId=${userId}` : "/Appointment/GetAppointments",
                        success: function(response) {
                            events = [];
                            var source = calendar.getEventSources();
                            for (var i = 0; i < source.length; i++) {
                                source[i].remove();
                            }
                            for (var i = 0; i < response.length; i++) {
                                events.push({
                                    id: response[i].id,
                                    title: response[i].dentist,
                                    patientName: response[i].patientName,
                                    patientSurname: response[i].patientSurname,
                                    start: response[i].startDate,
                                    end: response[i].endDate,
                                    description: response[i].description,
                                    color: response[i].color,
                                    userId: response[i].userId
                                });
                            }
                            calendar.addEventSource(events);
                        },
                        error: function() {

                        }

                    });
                }

                calendar.render();

                getAppointments();

                $('#datetimepicker1, #datetimepicker2, #datetimepickerDetail1, #datetimepickerDetail2').datetimepicker({
                    format: "MM/DD/YYYY HH:mm"
                });


                $("#btnSave").click(function() {
                    var appointment = {
                        Id: $("#appointmentId").val(),
                        UserId: $("#inputDentistId").val(),
                        StartDate: $("#inputStarDate").val(),
                        EndDate: $("#inputEndDate").val(),
                        PatientName: $("#inputPatientName").val(),
                        PatientSurname: $("#inputPatientSurname").val(),
                        Description: $("#inputDescription").val()
                    }
                    saveAppointment(appointment);
                });

                $("#btnSaveDetail").click(function() {
                    var appointment = {
                        Id: $("#appointmentId").val(),
                        UserId: $("#inputDentistIdDetail").val(),
                        StartDate: $("#inputStarDateDetail").val(),
                        EndDate: $("#inputEndDateDetail").val(),
                        PatientName: $("#inputPatientNameDetail").val(),
                        PatientSurname: $("#inputPatientSurnameDetail").val(),
                        Description: $("#inputDescriptionDetail").val()
                    }
                    saveAppointment(appointment);
                });

                $("#btnDeleteDetail").click(function() {
                    var Id = $("#appointmentId").val();

                    $.ajax({
                        type: "POST",
                        url: "/Appointment/AddOrUpdateAppointment",
                        data: { Id: Id },
                        success: function(res) {
                            if (res === "200") {
                                getAppointments();
                                alertify.success("Randevu Silindi");
                            } else {
                                alertify.error("Silme Başarısız");
                            }
                            var button2 = document.getElementById("closeModalDetail");
                            button2.click();

                        },
                        error: function() {
                            alertify.error("Silme Başarısız");
                            var button2 = document.getElementById("closeModalDetail");
                            button2.click();
                        }

                    });
                });

                $(".filterButton").click(function() {
                    var id = $(this).data("value");
                    getAppointments(id);
                });
            });
    </script>
}